<p> <%= $game.current_player.name  %> attacked <%= $game.previous_player.name %></p>

<p><%= $game.previous_player.name %>: <%= $game.previous_player.hp %>HP</p>

<% $game.switch_turn %>

<p> <%= $game.current_player.name %>'s turn</p>
